version: '3.8'

services:
  # ========= go2rtc per transcoding RTSP =========
  go2rtc:
    image: alexxit/go2rtc:latest
    container_name: go2rtc_tapo
    restart: always
    network_mode: host
    volumes:
      - "./go2rtc.yaml:/config/go2rtc.yaml:ro"
    environment:
      - TZ=Europe/Rome

  # ========= Tapo Camera Proxy =========
  # Build dell'immagine una sola volta, poi usata da tutti i container
  # Camera 1: Tapo C220 su 192.168.31.19
  camera_tapo_1:
    build: .
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_1
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.19
      - CAMERA_MAC=02:42:ac:11:00:19
      - CAMERA_NAME=Tapo C220
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 2: Tapo su 192.168.31.18
  camera_tapo_2:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_2
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.18
      - CAMERA_MAC=02:42:ac:11:00:18
      - CAMERA_NAME=Tapo Camera 18
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 3: Tapo su 192.168.31.13
  camera_tapo_3:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_3
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.13
      - CAMERA_MAC=02:42:ac:11:00:13
      - CAMERA_NAME=Tapo Camera 13
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 4: Tapo su 192.168.31.15
  camera_tapo_4:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_4
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.15
      - CAMERA_MAC=02:42:ac:11:00:15
      - CAMERA_NAME=Tapo Camera 15
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 5: Tapo su 192.168.31.17
  camera_tapo_5:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_5
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.17
      - CAMERA_MAC=02:42:ac:11:00:17
      - CAMERA_NAME=Tapo Camera 17
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 6: Tapo su 192.168.31.16
  camera_tapo_6:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_6
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.16
      - CAMERA_MAC=02:42:ac:11:00:16
      - CAMERA_NAME=Tapo Camera 16
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  # Camera 7: Tapo C500 su 192.168.31.10 (NUOVO)
  camera_tapo_7:
    image: unifi-cam-proxy_camera_tapo:latest
    container_name: camera_tapo_7
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.10
      - CAMERA_MAC=02:42:ac:11:00:10
      - CAMERA_NAME=Tapo C500
      - CAMERA_USERNAME=${TAPO_USERNAME}
      - CAMERA_PASSWORD=${TAPO_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" tapo -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "

  camera_yi_1:
    build: .
    image: unifi-cam-proxy_camera_yi:latest
    container_name: camera_yi_1
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.11
      - CAMERA_MAC=02:42:ac:11:00:11
      - CAMERA_NAME=Yi Camera 11
      - CAMERA_USERNAME=${YI_USERNAME}
      - CAMERA_PASSWORD=${YI_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" yi -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "
  # Camera 2: Yi su 192.168.31.12
  camera_yi_2:
    image: unifi-cam-proxy_camera_yi:latest
    container_name: camera_yi_2
    restart: always
    network_mode: host
    depends_on:
      - go2rtc
    volumes: 
      - "./client.pem:/client.pem:ro"
    environment:
      - PROTECT_HOST=${PROTECT_HOST}
      - PROTECT_TOKEN=${PROTECT_TOKEN}
      - CAMERA_IP=192.168.31.12
      - CAMERA_MAC=02:42:ac:11:00:12
      - CAMERA_NAME=Yi Camera 12
      - CAMERA_USERNAME=${YI_USERNAME}
      - CAMERA_PASSWORD=${YI_PASSWORD}
      - TZ=Europe/Rome
    command: >-
      sh -c "
      sleep 5 &&
      unifi-cam-proxy -H $${PROTECT_HOST} --mac $${CAMERA_MAC}
      --model 'UVC G4 Pro' -i $${CAMERA_IP} -c /client.pem -t $${PROTECT_TOKEN}
      --name \"$${CAMERA_NAME}\" yi -u $${CAMERA_USERNAME} -p $${CAMERA_PASSWORD}
      "